# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
functions/.runtimeconfig.json
functions/see-the-vibe-firebase-adminsdk-bq6an-0f37f5f2c0.json
src/firebase/creds.ts
*.cache
